body {
    background-color: #9EC1D7;
  }
  
  .frame-1-variant2 {
    align-items: center;
    background-color: #1B1C27;
    display: flex;
    height: 130px;
    left: 0;
    padding: 0 5%;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .home,
  .stays,
  .sign-in,
  .log-in {
    align-items: flex-end;
    display: flex;
    height: 34px;
    margin-top: 41px;
    min-width: 81px;
    padding: 1px 11px;
    color: #9EC1D7;
  }
  
  .valign-text-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .place,
  .sign-in-1,
  .stays-1,
  .log-in-1 {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
  }
  
  .frame-2-1 {
    height: 139px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 290px;
  }
  
  .desktop-1 .frame-2-4 {
    background-color: #9EC1D7;
  }
  
  .about-text {
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-size: clamp(36px, 8vw, 48px); /* Set maximum font size */
    font-weight: 800;
    color: #1B1C27;
    margin-top: 180px;
    text-align: center;
  }
  
  .abouttext {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-size: clamp(12px, 2vw, 16px); /* Set maximum font size */
    font-weight: bold;
    color: #18465A;
    text-align: center;
    max-width: 80vw;
    margin: 0 auto;
    line-height: 1.5;
    margin-top: 2vh;
  }
  
  .separator {
    margin: 5vh auto;
    width: 90%;
    max-width: 1450px;
    height: 2px;
    background-color: #1B1C27;
  }
  
  .what-text {
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-size: clamp(36px, 8vw, 48px); /* Set maximum font size */
    font-weight: 800;
    color: #1B1C27;
    margin-top: 5vh;
    text-align: center;
  }
  
  .whattext {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-size: clamp(12px, 2vw, 16px); /* Set maximum font size */
    font-weight: bold;
    color: #18465A;
    text-align: left;
    text-align: justify;
    max-width: 80vw;
    margin: 0 auto;
    line-height: 1.5;
    margin-top: 2vh;
  }
  
  .darker-text {
    color: #1B1C27;
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .frame-1-variant2 {
      padding: 0 10px;
    }
  
    .about-text {
      font-size: 24px;
      margin-top: 5vh;
    }
  
    .abouttext {
      font-size: 12px;
      margin-top: 2vh;
    }
  
    .separator {
      margin: 2vh auto;
    }
  
    .what-text {
      font-size: 24px;
      margin-top: 2vh;
    }
  
    .whattext {
      font-size: 12px;
      margin-top: 2vh;
    }
  }

  .footer {
    align-items: flex-end;
    background-color: #1B1C27;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    height: 150px;
    justify-content: flex-start;
    margin-top: 97px;
    mix-blend-mode: normal;
    padding: 0 0px;
    width: 100%;
}

.flex-row {
    align-items: center;
    align-self: flex-start;
    display: flex;
    min-width: 794px;
}

.about-us {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    height: 34px;
    justify-content: flex-end;
    margin-top: 49px;
    min-width: 146px;
    padding: 7px 36px;
}

.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-us-1 {
    height: 19px;
    letter-spacing: 0;
    line-height: normal;
    min-width: 73px;
    text-align: center;
    white-space: nowrap;
}



.help {
    align-items: flex-start;
    display: flex;
    height: 29px;
    margin-left: 11px;
    margin-top: 50px;
    min-width: 75px;
    padding: 4px 19px;
}

.help-1 {
    height: 19px;
    letter-spacing: 0;
    line-height: normal;
    min-width: 36px;
    text-align: center;
    white-space: nowrap;
}

.vector-1 {
    height: 20px;
    margin-bottom: 18px;
    margin-left: 28px;
    width: 20px;
}

.flex-col {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: 325px;
    min-height: 115px;
    width: 186px;
}

.flex-row-1 {
    align-items: flex-start;
    display: flex;
    gap: 18px;
    height: 63px;
    margin-right: 4.75px;
    min-width: 175px;
}

.flex-col-1 {
    align-self: flex-end;
    gap: 17px;
    min-height: 62px;
    width: 20px;
}

.desktop-8 .flex-col-3 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.vector {
    height: 20px;
    margin-left: 1px;
    width: 19px;
}

.icon-location {
    height: 25px;
    width: 20px;
}

.flex-col-2 {
    gap: 21px;
    min-height: 59px;
    width: 137px;
}

.sarajevo-bi-h {
    height: 19px;
    letter-spacing: 0;
    line-height: normal;
    margin-left: 2px;
    min-width: 103px;
    text-align: center;
    white-space: nowrap;
}

.text-1 {
    height: 19px;
    letter-spacing: 0;
    line-height: normal;
    min-width: 137px;
    text-align: center;
    white-space: nowrap;
}

.overlap-group {
    height: 40px;
    position: relative;
    width: 186px;
}

.icon-whatsapp-fill {
    height: 37px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 146px;
}

.social-media {
    height: 19px;
    left: 7px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
}

.icon-facebook-fill {
    height: 37px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 186px;
}

footer {
    background-color: #1B1C27;
    height: 150px;
    display: flex;
    justify-content: left;
    align-items: left;
    color: #9EC1D7;
    font-size: 18px;
    margin-top: 30px;
  }